[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/arukast/.local/bin/scripts/conky-monitor-watch.sh
GenericName[en_US]=
GenericName=
Icon=
MimeType=
Name[en_US]=conky-monitor-watch.sh
Name=conky-monitor-watch.sh
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
