window#waybar {
	font-family: "JetBrainsMono Nerd Font", "Commit Mono Nerd Font", "Inter", sans-serif;
	font-weight: 600;
	font-size: 14px;
}

/* Ensure labels and buttons inherit font from window#waybar */
window#waybar>box>button,
window#waybar>box>label {
	font-family: inherit;
}

#window label,
#mpris,
tooltip label {
	font-weight: 500;
}

#workspaces button label {
	font-size: 16px;
	font-weight: 800;
}

#custom-distro {
	font-size: 23px;
}

#custom-swaync {
	font-size: 23px;
}