window#waybar {
	font-family: "JetBrainsMono Nerd Font, Commit Mono Nerd Font";
	font-weight: bold;
	/* font-size: 16px; */
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

/* Pastikan label dan button mewarisi font dari window#waybar */
window#waybar > box > button,
window#waybar > box > label {
    font-family: inherit;
}

#window label,
#mpris,
tooltip label {	
	font-weight: normal;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-trigger,
#custom-distro {
	font-size: 20px;
}	