/* ----------------
    workspaces
----------------*/

#workspaces {
	padding-right: 4px;
	padding-left: 4px;
    background: #DAC2A0;
    color: alpha(@on_secondary_fixed, 0.85);
}

#workspaces button {
    box-shadow: none;
	  text-shadow: none;
    border-radius: 9px;
    padding-left: 0px;
    padding-right: 1px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.6s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
	border-radius: 10px;
	/* color: @overlay0; */
	background-color: rgba(255,255,255,0.2);
 	padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.persistent {
    color: alpha(@on_secondary_fixed, 0.85);
	border-radius: 10px;
    /* padding-right: 1px; */
}

#workspaces button.active {
	background-color: rgba(255, 255, 255, 0.753);
    color: alpha(@on_secondary_fixed, 0.85);
  	border-radius: 10px;
    /* padding-left: 1px;
    padding-right: 1px; */
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.urgent {
    color: alpha(@on_secondary_fixed, 0.85);
 	border-radius: 0px;
}

#workspaces button.empty {
    /* font-size: 16px; */
    padding-right: 6px;
}
#workspaces button.active.empty {
    /* font-size: 16px; */
    padding-right: 2px;
}