/*-----------------
    Control Center
-----------------*/

#custom-swaync {
    color: @accent;
    padding: 0px 18px 0px 16px;
    font-size: 18px;
}

#mpris {
    color: @module-fg;
    padding: 0px 12px;
}

/*-----------------
	tray
-----------------*/

#tray {
    color: @module-fg;
    padding: 0px 14px;
}

box#utilities {
    color: @module-fg;
    padding: 0px 2px;
}

box#connectivity {
    color: @module-fg;
    padding: 0px 2px;
}

#network,
#bluetooth,
#pulseaudio,
#backlight,
#custom-hyprpicker,
#custom-hyprshot {
    padding: 0px 6px;
    transition: all 0.2s ease;
}

#network:hover,
#bluetooth:hover,
#pulseaudio:hover,
#backlight:hover {
    color: @accent;
}

#custom-cava {
    color: @accent;
    font-size: 16px;
    padding: 0px 8px;
}