/*----------------
    media info
----------------*/

/* #mpris {
	padding: 0 12px;
} */

/*--------------------
    idle inhibitor
--------------------*/

/* #custom-right_inv.1 {
	color: @time;
}
#idle_inhibitor {
	background-color: @time;
} */

/*----------------
    power menu
----------------*/

/* #custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
} */

/* #custom-system_update {
	background-color: @tray;
	padding: 0 8px 0 2px;
} */

/*---------------
    indicator
---------------*/

/* #keyboard-state label,
#language {
	margin-right: 12px;
	color: @hover-fg;
} */

/*------------------
    window title
------------------*/

/* #window {
	margin: 0 12px;
} */
/* 
#custom-left_div.4 {
	color: @temperature;
	padding-left: 0.2px;
}
#custom-left_div.3 {
	background-color: @temperature;
	color: @memory;
	padding-left: 0.2px;
}
#custom-left_div.2 {
	background-color: @memory;
	color: @cpu;
	padding-left: 0.2px;
}
#custom-left_inv.1 {
	color: @cpu;
}
#custom-left_div.1 {
	color: @workspaces;
	padding-left: 0.2px;
}
#custom-right_div.1 {
	color: @workspaces;
}
#custom-right_div.2 {
	background-color: @backlight;
	color: @battery;
}
#custom-right_inv.1 {
	color: @battery;
}

#custom-right_div.3 {
	background-color: @volume;
	color: @backlight;
}
#custom-right_div.4 {
	color: @volume;
}
#custom-right_div.5 {
	color: @accent;
}
#custom-right_inv.2 {
	color: @time;
}
#custom-right_div.6 {
	background-color: @date;
	color: @time;
}
#custom-right_div.7 {
	color: @date;
}
 #custom-left_div.5 {
	color: @accent;
	padding-left: 0.2px;
}
#custom-left_inv.2 {
	color: @system-tray;
}
#custom-left_div.6 {
	background-color: @tray;
	color: @system-tray;
	padding-left: 0.2px;
}
#custom-left_div.7 {
	color: @tray;
	padding-left: 0.2px;
} */
/*----------------
    brightness
----------------*/
/* 
#backlight {
	color:bisque;
} */

/*------------
    volume
------------*/
/* 
#pulseaudio,
#wireplumber {
	color:bisque;
} */
/*-----------------
    temperature
-----------------*/

/* #temperature {
	color:bisque;
} */

/*------------
    memory
------------*/

/* #memory {
	color:bisque;
} */

/*---------
    cpu
---------*/
/* 
#cpu {
	color:bisque;
} */
/*-----------------
    system tray
-----------------*/


/* #network {
	color:bisque;

}
#bluetooth {
	color:bisque;
} */
