/*-----------------
    distro icon
-----------------*/

#custom-distro {
    color: @accent;
    padding: 0px 22px 0px 16px;
}

/*----------
    time
----------*/

box#time {
    color: @module-fg;
}

box#systemInfo {
    color: @module-fg;
}

#battery,
#temperature,
#cpu,
#memory,
#custom-system_update,
#custom-unsync {
    padding: 0px 4px;
    transition: all 0.3s ease;
}

#battery:hover,
#temperature:hover,
#cpu:hover,
#memory:hover,
#custom-system_update:hover {
    color: @accent;
}

#custom-system_update.pending {
    color: @warning;
}

#custom-unsync {
    color: @warning;
    font-weight: 800;
}

#privacy {
    color: @critical;
    padding: 0px 4px;
}

#privacy-item {
    padding: 0px 4px;
}

#systemd-failed-units.degraded {
    color: @critical;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}