@import "colors.css";
@import "styles/fonts.css";

* {
  padding: 1px
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* 56 52 46 */
  /* color: #353436; */
  background:rgba(186, 159, 119, 0.5);
  border-radius: 35px;  
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background: none;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 4px 4px;
}

#custom-distro,
box#time,
#workspaces,
#custom-trigger,
box#connectivity,
box#utilities,
#tray,
box#systemInfo,
box#wheel {
	  color: #ffffff;
    border-radius: 35px;
    margin: 0px 3px;
    padding: 0px 10px;
    transition: all 0.3s ease-in-out;
}

#battery,
#temperature,
#cpu,
#memory,
#custom-system_update,
#custom-unsync,
#systemd-failed-units,
#privacy,
#pulseaudio.input {
  padding: 0px 5px;
}

/* --- IMPORTS --- */
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
