window#waybar {
	font-family: "Commit Mono Nerd Font";
	font-weight: bold;
	font-size: 16px;
}

/* Pastikan label dan button mewarisi font dari window#waybar */
window#waybar > box > button,
window#waybar > box > label {
    font-family: inherit;
}

#window label,
#mpris,
tooltip label {	
	font-weight: normal;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
	font-size: 20px;
}

#custom-power_menu {
	font-size: 18px;
}

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	font-size: 22px;
}