/*-----------------
    Control Center
-----------------*/

#custom-trigger {
	padding: 0 20px 0 20px;
	background-color: @accent;
	color: @main-bg;
}
#custom-left_div.5 {
	color: @accent;
	padding-left: 0.2px;
}

/*-----------------
    system tray
-----------------*/

#custom-left_inv.2 {
	color: @system-tray;
}
#network {
	background-color: @system-tray;
	padding: 0px 7px 0px 3px;
}
#bluetooth {
	background-color: @system-tray;
	padding: 0px 7px 0px 3px;
}
#custom-left_div.6 {
	background-color: @tray;
	color: @system-tray;
	padding-left: 0.2px;
}

/*-----------------
	tray
-----------------*/

#tray {
	background-color: @tray;
	padding: 0px 7px 0px 3px;
}
#custom-left_div.7 {
	color: @tray;
	padding-left: 0.2px;
}